.floating-basket {
  width: 80px;
  position: absolute;
  background: #fff;
  top: 30%;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  position: fixed;
  right: 15px;
  text-align: center;
  z-index: 9;
  line-height: 50px;
  border: 2px solid var(--theme-color);
  border-radius: 0.3rem;
  padding: 15px 12px;
}
.floating-basket span.count {
  background: #111;
  border-radius: 50%;
  color: #fff;
  font-size: 11px;
  height: 20px;
  left: 45px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  width: 20px;
}
.floating-basket > div:not(:last-child) {
  border-bottom: 1px solid #4f0f40;
  margin-bottom: 5px;
}
.floating-basket span {
  line-height: 44px;
  color: var(--theme-color);
  font-size: 30px;
}
.floating-basket p {
  color: var(--theme-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}
/* Visible css */

.not-visible {
  display: none;
}
