.store-address {
  height: 40px;
  width: fit-content;
}
.store-name {
  width: fit-content;
  height: 44px;
}
.store-thumb img {
  height: 130px;
  width: 130px;
  object-fit: contain;
}
.more-btn {
  height: 148px;
}
.more-btn:hover {
  background-color: #f0f0f0;
}
.more-btn::before {
  content: '';
}
.button a {
  font-size: 1.2rem;
}
