.store-card {
  border: 1px solid #ddd;
  border-radius: 10px;
}
.store-card:hover {
  border: 1px solid #4f0f40;
}
.store-thumb {
  width: 175px;
  height: 175px;
  position: relative;
  display: block;
  border-radius: 10px;
  overflow: hidden;
}
.store-thumb img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.store-info {
  padding: 10px;
}
.store-name {
  width: fit-content;
  margin: 0 auto;
}
.store-name a,
.store-btn {
  color: #111;
}
.store-more-btn {
  height: 247px;
  width: 175px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}
.more-store {
  margin: auto 0;
}
.more-store-name {
  text-align: center;
  font-size: 24px;
  line-height: 40px;
  font-weight: 500;
}
.store-more-btn a {
  padding: 5px 10px;
  border: 1px solid var(--theme-color);
  border-radius: 6px;
  color: #111;
}
.store-more-btn a:hover {
  background-color: #111;
  color: var(--light-color);
}
.store-more-btn:hover {
  border: 1px solid #4f0f40;
  background-color: #f0f0f0;
}
.store-more-btn::before {
  content: '';
}
