/*Cart DropDown*/
.mini-cart-drop-down.active {
  display: block;
  -webkit-animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
/* user dropdown */
.box-dropdown.active {
  display: block;
  -webkit-animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.mini-cart-drop-down {
  z-index: 100;
}

/* Search Select */
@media all and (max-width: 566px) {
  .search-form
    .MuiSelect-root.MuiSelect-select.MuiSelect-selectMenu.MuiInputBase-input.MuiInput-input {
    width: 100px !important;
  }
  .MuiSelect-root.MuiSelect-select.MuiSelect-selectMenu.MuiInputBase-input.MuiInput-input {
    font-size: 12px !important;
  }
}
@media (min-width: 433px) and (max-width: 575px) {
  .box-dropdown {
    right: 160px;
  }
  .mini-cart-drop-down.active {
    right: 80px;
  }
}
@media (min-width: 320px) and (max-width: 431px) {
  .box-dropdown {
    right: 80px;
  }
  .mini-cart-drop-down.active {
    right: 10px;
  }
}
