.mini-cart-drop-down {
  z-index: 100;
}

.mini-cart-drop-down.active {
  display: block;
  -webkit-animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.mini-cart-drop-down.inActive {
  display: none;
  -webkit-animation: scale-out-ver-top 0.5s cubic-bezier(0.47, 0, 0.745, 0.715)
    both;
  animation: scale-out-ver-top 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
.box-dropdown.active {
  display: block;
  -webkit-animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.box-dropdown.inActive {
  display: none;
  -webkit-animation: scale-out-ver-top 0.5s cubic-bezier(0.47, 0, 0.745, 0.715)
    both;
  animation: scale-out-ver-top 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
